%section.content-section
  %h2.table-title Compare 
  - if current_user.runs.empty?
    %h1 You don't have any runs in the last 14 days! Get off your butt and get out there!
  - elsif @friend.runs.empty?
    %h1 Your friend doesn't have any runs! Tell them to get off their butt and get out there!
  - else

    %div.compare-stat-container

      %dl.compare-stat-list
        %dt.compare-term= current_user.username

        %dd.compare-item
          %span.data<> #{total_distance_in_miles_for(@user_stats)}
          %span.data-marker mi
          %p.data-title Total Distance

        %dd.compare-item
          %span.data<> #{average_pace_formatted_for(@user_stats)}
          %span.data-marker /mi
          %p.data-title Average Pace

        %dd.compare-item
          %span.data<> #{longest_run_in_miles_for(@user_stats)}
          %span.data-marker mi
          %p.data-title Longest Run


      %dl.compare-stat-list
        %dt.compare-term= @friend.username

        %dd.compare-item
          %span.data<> #{total_distance_in_miles_for(@friend_stats)}
          %span.data-marker mi
          %p.data-title Total Distance

        %dd.compare-item
          %span.data<> #{average_pace_formatted_for(@friend_stats)}
          %span.data-marker /mi
          %p.data-title Average Pace

        %dd.compare-item
          %span.data<> #{longest_run_in_miles_for(@friend_stats)}
          %span.data-marker mi
          %p.data-title Longest Run


      %dl.compare-stat-list
        %dt.compare-term Difference

        - if @diff.miles > 0
          %dd.compare-item.diff-positive
            %span.data<> #{compared_miles_for(@diff)}
            %span.data-marker mi
            %p.data-title Longer
        - else
          %dd.compare-item.diff-negative
            %span.data<> #{compared_miles_for(@diff)}
            %span.data-marker mi
            %p.data-title Shorter

        - if @diff.pace < 0
          %dd.compare-item.diff-positive
            %span.data<> #{compared_pace_for(@diff)}
            %span.data-marker /mi
            %p.data-title Faster
        - else
          %dd.compare-item.diff-negative
            %span.data<> #{compared_pace_for(@diff)}
            %span.data-marker /mi
            %p.data-title Slower

        - if @diff.longest_run > 0
          %dd.compare-item.diff-positive
            %span.data<> #{compared_longest_run_for(@diff)}
            %span.data-marker mi
            %p.data-title Longer
        - else 
          %dd.compare-item.diff-negative
            %span.data<> #{compared_longest_run_for(@diff)}
            %span.data-marker mi
            %p.data-title Shorter

    %div.compare-log-container
      %div.compare-logs
        %h2.table-title Run Logs:  #{current_user.username} 
      %table.table-main
        %thead
          %tr
            %th.caption Name
            %th.caption Date
            %th.caption Distance 
            %th.caption Time
            %th.caption Average Pace
            %tbody
            - @user_stats.logged_runs.each do |run|
              %tr
                %td
                  = run.name
                %td
                  = run.date
                %td
                  = "#{run.miles.round(2)} mi"
                %td
                  = run.stopwatch 
                %td
                  = "#{run.pace} /mi"
      %div.compare-logs
        %h2.table-title Run Logs:  #{@friend.username}
      %table.table-main
        %thead
          %tr
            %th.caption Name
            %th.caption Date
            %th.caption Distance 
            %th.caption Time
            %th.caption Average Pace
            %tbody
            - @friend_stats.logged_runs.each do |run|
              %tr
                %td
                  = run.name
                %td
                  = run.date
                %td
                  = "#{run.miles.round(2)} mi"
                %td
                  = run.stopwatch 
                %td
                  = "#{run.pace} /mi"
