%section.content-section
  %ul.dash-head
    %li.table-title Last Two Weeks 
    %li.dash-head-update
      = link_to "Update Runs", fetch_runs_path, :method => :get, :class => "update-run-link"
  %dl.dash-stats
    %dt
    %dd.dash-set
      %span.data<> #{total_distance_in_miles_for(@stats)}
      %span.data-marker mi
      %p.data-title Total Distance

    %dd.dash-set
      %span.data<> #{average_pace_formatted_for(@stats)}
      %span.data-marker /mi
      %p.data-title Average Pace

    %dd.dash-set
      %span.data<> #{longest_run_in_miles_for(@stats)}
      %span.data-marker mi
      %p.data-title Longest Run

  %h2.table-title Run Logs
  %table.table-main
    %thead
      %tr
        %th.caption Name
        %th.caption Date
        %th.caption Distance 
        %th.caption Time
        %th.caption Average Pace
        %tbody
        - @stats.logged_runs.each do |run|
          %tr
            %td
              = run.name
            %td
              = run.date
            %td
              = "#{run.miles.round(2)} mi"
            %td
              = run.stopwatch 
            %td
              = "#{run.pace} /mi"
